body {
	
	background-image: url("../images/webbooks_20.jpg");
}


.lobsterfont {
	
	font-family: 'Lobster', cursive;
	text-align: center;
	font-size: 4em;
	color: #FF0000;
	
}

h2, h3 {
	text-align: center;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: ridge;
    border-width: 3px;
    border-color: #FF0000;
} 



